.Post-Container {
  margin-top: 18vh;
  margin-left: 10vh;
}

.Post-Container h1 {
  border: 0.5px solid #000;
  padding: 15px; 
  width: 78%;
}

.Post {
  background-color: rgb(222, 220, 220);
  width: 80%;
  border: 0.5px solid #000;
  padding: 15px; 
}


.Post h3 {
  margin-top: 1vh;
}


.form-group {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.form-input {
    padding: 12px 16px;
    width: 30%; 
    font-size: 16px;
}


.radio-group { 
  padding: 15px;
}

.form-title {
  padding: 15px;
  margin-top: 15px;
}

.Takeaway {
  padding: 15px; 
}

.form-actions {
  padding: 15px;
}

