body {
  background-color: #eeeecd; 
}

.Post-Container {
  margin-top: 18vh;
  margin-left: 10vh;
}

.Post-Container h1 {
  border: 0.5px solid #000;
  /*background-color: rgb(222, 220, 220);*/
  background-color: rgb(7, 79, 53);
  color: #eeeecd;
  padding: 15px; 
  width: 18%;
}

.Post {
  background-color: rgb(7, 79, 53);
  color: #eeeecd;
  width: 80%;
  border: 0.5px solid #000;
  padding: 15px; 
}


.Post h2 {
  margin-top: 1vh;
  padding: 15px;
}


.form-group {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.form-label {
  font-size: 16px;
} 

.form-input {
    padding: 12px 16px;
    width: 30%; 
    font-size: 16px; 
}


.radio-group { 
  padding: 15px;
}

.form-title {
  padding: 15px;
  margin-top: 15px;
}

.Takeaway {
  padding: 15px; 
}

.form-actions {
  padding: 15px;
  max-height: 50px;
}

.form-actions button {
  width: 15%;
  height: 30px; 
  background-color: rgb(3, 42, 27);
  color: whitesmoke;
}

