/*.box {
    height: 560px;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px; 
    background-color: #f9f9f9;
    margin-top: 190px;
    margin-left: auto; 
    margin-right: 160px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    float: right;
}*/