.Post-Container {
  margin-top: 18vh;
  margin-left: 10vh;
}

.Post-Container h1 {
  border: 0.5px solid #000;
  padding: 15px; 
  width: 78%;
}

.Post {
  background-color: rgb(222, 220, 220);
  width: 80%;
  border: 0.5px solid #000;
  padding: 15px; 
}


.Post h3 {
  margin-top: 5vh;
}