

@font-face {
  font-family: 'Butler';
  src: url('../fonts/butler/Butler_Webfont/Butler-Regular.woff2') format('woff2'),
       url('../fonts/butler/Butler_Webfont/Butler-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
 
  padding: 0;
}



.main-cont{
  padding-top: 55px;
}

.about-container, .prob-container{
  gap: 5%;
  column-gap: 10vw;
  display: flex;
  flex-direction: row;
  
  width: 100vw;
  padding-top:4%;
  padding-bottom:4%;
  margin-left: calc(50% - 50vw);
  flex: 1;
  justify-items: center;
}

.about-container{ 
  background-color: #eeeecd;
  color: rgb(7, 79, 53);
  flex-direction: row;
}
.prob-container{
  background-color: rgb(7, 79, 53);
  color: #eeeecd;
  flex-direction: row-reverse;
  
}

.about-container p{
  margin-top: 75px;
  text-align: right;
  justify-items: center;
}



.about-container .h-cont {
  margin-left: 4%;
  margin-top: 75px;
  float: left;
  
}

 .p-cont {
  width: 50%;
  text-align: center;
}

h1{
  font-family: 'Butler', serif;
  font-size: 4.5rem;
  font-weight:bold;
  font-style: normal;
  word-wrap: break-word;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.prob-container .h-cont{
  margin-right: 4%;
  margin-top: 75px;
  float: right;
}

.prob-container p{
  margin-top: 75px;
  text-align: left;
  float: left;
}
 
.prob-container .p-cont{
  float: left;
}