.body{
    font-family: "Inter", sans-serif;

}


.head{
    background-color: #7caf7e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    z-index: 1003;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
    box-sizing: border-box;

}

.container {
 position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  
}

.menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px; 
}


.menu li {
  position: relative;
}


.menu a {
  text-decoration: none;
  color: #F5F3EF; 
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding: 8px 0;
  transition: color 0.3s ease, border-color 0.3s ease;
  border-bottom: 2px solid transparent;
}