.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 100px;
}

.filters {
    background: rgba(255,255,255,0.95);
    border-radius: 16px;
    padding: 1.2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border: 1px solid rgba(76,106,77,0.15);
    position: sticky;
    padding: 1.5rem;
    font-family: 'Butler';
    color: #032A1B;
    
}

.input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    
}

.input-group label {
    font-size: 1rem;
    margin-bottom: 0.35rem;
    color: #032A1B;
    font-weight: bold;

}

.input-group select,
#dateInput {
    padding: 0.5rem 0.6rem;
    border: 1px solid rgb(7, 79, 53);
    border-radius: 8px;
    font-size: 0.9rem;
    background-color: white;
    color: rgb(3, 42, 27);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group select:focus,
#dateInput:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 3px rgba(193,108,63,0.25);
    outline: none;
}

/* --- Calendar --- */
.calendar-box {
    background: rgba(217,198,165,0.12);
    border-radius: 12px;
    padding: 0.8rem;
    margin-top: 1rem;
    border: 1px solid #032A1B;
    align-content: center;
}

.calendar-title {
    text-align: center;
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
    color: r;
    font-weight: 600;
}

.calendar {
    background: rgba(255,255,255,0.65);
    border-radius: 8px;
    padding: 0.5rem;
    text-align: center;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.calendar .header button {
    background: var(--color-primary);
    border: none;
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background 0.3s;
}

.calendar .header button:hover {
    background: ;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.day {
    background: rgba(217,198,165,0.25);
    border: 1px solid rgba(217,198,165,0.3);
    border-radius: 6px;
    padding: 0.5rem 0;
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s;
}

.day:hover {
    background: var(--color-primary);
    color: white;
    transform: translateY(-2px);
}

.day.selected {
    background: var(--color-accent);
    color: white;
    font-weight: 600;
}

/* --- Buttons --- */
.btn {
    width: 100%;
    padding: 0.65rem;
    margin-top: 0.6rem;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
    font-family: 'Butler';
    font-weight: bold;
    color: #eeeecd;
    background-color: #074f35;
}

.btn.stop { background-color: #502f4c; }
.btn.stop:hover { background-color: var(#502f4c); }


.btn:hover { background-color: #032A1B; }
