body {
    background-color: #eeeecd;
}

.Post-Container {
    margin: 10vh;
    padding: 15px;
}

.Post {
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(7, 79, 53);
    width: 75%;
}

.Post h2 {
    padding-left: 15px;
    text-align: center;
    color: #eeeecd;
}

.Post h3 {
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    width: 20%;
    background-color: #eeeecd;
    color: rgb(3, 42, 27);
}

.form-actions {
    padding: 15px;
    text-align: center;
}

.form-actions button {
    background-color: rgb(3, 42, 27);
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 15px;
}

.Description-Container {
    background-color: rgb(7, 79, 53);
    color: #eeeecd;
    border: 2px solid black;
    border-radius: 15px;
    width: 20%;
    padding: 15px;
    margin-top: 5px;
}


