body {
    background: linear-gradient(295deg,rgba(7, 79, 53) 20%, rgba(88, 133, 112) 35%, rgba(242, 242, 218) 65%, rgba(238, 238, 205) 80%);
}

.Post-Container {
    padding: 10vh;
    padding-left: 30vh;
}

.Post {
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(7, 79, 53);
    width: 85%;
}


.Post h2 {
    padding-left: 15px;
    text-align: center;
    color: #eeeecd;
}

.Post h3 {
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    width: 20%;
    background-color: #eeeecd;
    color: rgb(3, 42, 27);
}

.form-actions {
    padding: 15px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%; 
}

.form-actions button {
    background-color: rgb(3, 42, 27);
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}


.Description-Container {
    background-color: rgb(7, 79, 53);
    color: #eeeecd;
    border: 2px solid black;
    border-radius: 15px;
    width: 30%;
    padding: 15px;
    margin-top: 5px;
}


